.navbar--container {
  width: 100%;
  /*
  margin-top: 115px;
  */
}

.navlink--container {
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  z-index: 999;
  /*
  margin-top: -115px;
  */
  top: 0;
  height: 60px;
}
.navbar-left--container{
  display: flex;
  width: 100%;
  align-items: baseline;
}
.navbar-left--container:hover{
    color: var(--azul);
}
.navbar-left--container>a:hover svg{
    fill: var(--azul);
}

.navlinks,
navbarListNone {
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  gap: 20px;
}

.navlinks {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  /*
  margin-right: 60px;
  */
  z-index: 9999;
}

.navlinks>div,
navbarListNone>div {
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  gap: 20px;
}

.navlinks>div {
  display: flex;
  /*
  width: 100%;
  */
  align-items: center;
  justify-content: flex-end;
  /*
  margin-right: 60px;
  */
  z-index: 9999;
}

.navbarListNone {
  display: none;
}

.navlink--item {
  transition: ease all 0.2s;
  cursor: pointer;
}

.navlink--item>a {
  font-weight: normal;
}

.navlink--item--filter--container {
  display: flex;
  gap: 20px
}

.navlink--item--filter--container--mobile {
  display: none;
  gap: 20px
}

.subMenu {
  display: flex;
  gap: 20px
}

.subMenu--Const {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.navlink--item--filter {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  color: var(--light-grey);
  font-size: 0.9rem;
}

.navlink--item--filter:hover {
  color: var(--azul);
}

.navlink--item:hover {
  color: var(--azul);
}

.lePrestigeLogo {
  height: 30px;
  width: auto;
}

/*
.miniMenu,
.miniMenuEquis {
  display: none;
}
*/

@media only screen and (max-width: 700px) {
  .navbarListNone {
    display: none;
  }

  .navlinks {
    display: flex;
    background-color: white;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    margin-right: unset;
  }
.navlinks>div,
navbarListNone>div {
  display: unset;
  align-items: unset;
  text-align: unset;
  list-style: unset;
  gap: unset;
}

.navlinks>div {
  display: unset;
  width: unset;
  align-items: unset;
  justify-content: unset;
  /*
  margin-right: 60px;
  */
  z-index: unset;
}

  .navlink--item--filter--container {
    display: none;
    gap: 20px
  }

  .navlink--item--filter--container--mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:10px 0;
  }

  /* MiniMenu*/
  .miniMenu,
  .miniMenuEquis {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: 0.65rem;
    position: absolute;
    right: 30px;
    top: 25%;
    cursor: pointer;
    z-index: 99999;
  }

  .miniMenu>div {
    background: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
  }

  .miniMenuEquis>div {
    background: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
  }

  .miniMenuEquis div:first-child {
    /*
    transform: rotate(50deg);
    */
    width: 50%;
    transform-origin: top;
    transform: translate(12px, 15px) rotate(50deg);
  }

  .miniMenuEquis div:nth-child(2) {
    opacity: 0;
  }

  .miniMenuEquis div:last-child {
    /*
    transform: rotate(-50deg);
    */
    width: 50%;
    transform-origin: top;
    transform: translate(10px, -10px) rotate(-50deg);
  }
}

@media only screen and (max-width: 550px) {
  .navbar--container {
    margin-top: 70px;
  }

  .navlink--container {
    /*
    top: 115px;
    padding: 10px;
    */
    width: 100vw;
  }
}
